footer a,  .viewall,  {
    background-color: $color-4;
    border-radius: 25px;
  }
  footer a:hover,  .viewall:hover,  {
      background-color: lighten($color-4, 25%);
      color: $color-1;
  }

  .design-selection li, .zen-resources li {
    background-image: url(assets/large_rock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
  }

  .design-selection li:hover {
      transform: scale(1.25);
      li, .designer-name {
        color: transparent;
        clear: both;
      }
      .design-name {
        color: $color-1;
      }
  }

  .zen-resources li:hover {
    transform: scale(1.25);
    color: $color-1;
}

  .viewall {
    background-color: $color-5;
    background-image: url(assets/border_sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 256px 97px;
  }