@import 'partials/reset';
@import 'partials/prefix-mixins';
/* Variables */
@import 'partials/variables';
/* Sitewide Color settings */
@import 'partials/colors';
/* Navigation Settings */
@import 'partials/navigation';
//responsive layouts
@import 'partials/layout';
/* Sitewide typography */
@import 'partials/typography';

//Small Screen Format
body {
  padding: 2vw;
}
.intro {
  h1 {
    padding-top: 5px;
  }
  h1,
  h2 {
    text-align: center;
  }
}
p {
  padding-top: 10px;
}
h3 {
  padding-top: 5px;
}

header {
  border-style: solid solid none solid;
  border-width: 15px;
  border-color: $color-3;
  border-radius: 5px 5px 0 0;
  margin-bottom: -20px;
}
.summary {
  border-style: solid solid none solid;
  border-width: 15px;
  border-color: $color-3;
  border-radius: 0 0 5px 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.preamble {
  background-color: $color-5;
  background-image: url(assets/bamboo_sidestick.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500px;
  h3 {
    padding-top: 75px;
  }
}
.benefits {
  background-color: $color-5;
  background-image: url(assets/bamboo_sidestick.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500px;
  h3 {
    padding-top: 90px;
  }
}
.explanation,
.benefits,
.requirements p:nth-child(6) {
  text-align: right;
}

footer {
  display: grid;
  grid-template-columns: auto repeat(6, 50px) auto;
  grid-template-rows: 100px 50px 50px 100px;
  background-image: url(assets/border_with_leaves.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 335px 300px;
  text-align: center;

  .zen-validate-html,  .zen-validate-css {
    grid-row: 2;
  }

  .zen-license,
  .zen-accessibility,
  .zen-github {
    grid-row: 3;
  }

  .zen-validate-html {
    grid-column: 3/5;
  }

  .zen-validate-css {
    grid-column: 5/7;
  }

  .zen-license {
    grid-column: 2/4;
  }

  .zen-accessibility {
    grid-column: 4/6;
  }

  .zen-github {
    grid-column: 6/8;
  }
}

.select,
.resources {
  text-align: center;
}

.archives,
.next {
  display: none;
}

.design-selection ul {
  display: grid;
  grid-template-columns: auto 120px 120px auto;
  grid-gap: 16px;
  text-align: center;

  li:nth-child(odd) {
    grid-column: 2;
  }

  li:nth-child(even) {
    grid-column: 3;
  }
  li, .designer-name {
    color: transparent;
    clear: both;
  }
  li {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px 1fr 20px; 
  }
  .design-name {
    color: $color-2;
    grid-row: 2;
    font-size: medium;
    display: flex;
    align-items: center;
    margin: auto;
  }
}
.zen-resources ul {
  display: grid;
  grid-template-columns: auto repeat(6, 50px) auto;
  text-align: center;
  grid-gap: 10px;

  .view-css {
    grid-column: 2/4;
  }

  .css-resources {
    grid-column: 4/6;
  }

  .zen-faq {
    grid-column: 6/8;
  }

  .zen-submit,
  .zen-translations {
    grid-row: 2;
  }

  .zen-submit {
    grid-column: 3/5;
  }

  .zen-translations {
    grid-column: 5/7;
  }
}

footer a {
  display: flex;
  justify-content: center;
}

.design-selection li {
  width: 120px;
  height: 80px;
  padding: 10px 5px 10px 5px;
  margin-top: 10px;
  display: grid;
  grid-gap: 0;
  font-size: x-small;
}
.design-selection li a {
  padding-bottom: 0%;
  line-height: 19px;
}

.zen-resources li {
  width: 120px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.design-archives {
  display: flex;
  justify-content: center;
}

.viewall {
  font-size: 150%;
  list-style: none;
  text-align: center;
  height: 100px;
  width: 260px;
  padding-top: 75px;
}

.design-selection a,
.viewall a,
.zen-resources a,
footer a {
  text-decoration: none;
  color: $color-2;
  align-items: center;
}


@media only screen and (min-width: $M) {
  @import 'partials/responsive'
}
